/* reset */
* {
  box-sizing: border-box;
}

body,
h1,
ul {
  margin: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* layout */
.l_wrapper {
  width: 500px;
  margin: 50px auto;
}

/* design */
body {
  background-color: #dcdcdc;
}

.bucket {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #cfcfcf;
}

.bucket-header {
  background-color: #fff;
  padding: 25px 0;
}

.bucket-title {
  font-size: 25px;
  font-weight: 900;
  color: #ff69b4;
  border-left: 7px solid;
  padding-left: 15px;
}

.bucket-contents {
  padding: 20px;
  background-color: #f4f4f4;
  border-top: 5px solid #eeeeee;
}

.list-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  color: #9e9e9e;
  font-weight: 700;
  border: 4px solid #eeeeee;
  border-radius: 10px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item_highlight {
  color: #1d90ff;
  border-color: currentColor;
  background-color: transparent;
}
